{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

 <header id="four">

<nav class="main-nav">
        
        <h1 class="logo" title="Fundacja Samarytanin">
          <a href="/">
            <img src="/img/logo/logo.png" alt="Logo fundacji Samarytanin">
          </a>
        </h1>

        <button class="hamburger" aria-expanded="false">
            <span class="sr-only">Otwórz/zamknij menu</span>
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        
        <div class="navigation">
            <ul class="navigation-list">
                 {% for item in menu %}
                     <li class="navigation-item"><a href="{{item.href }}">{{item.name}}</a></li>
                 {% endfor %}
            </ul>
        </div>
        <div class="scrollup"><a href="#four"><img src="/img/glowna-strona/8.png" alt="Strzałka w górę"></a></div>
</nav>

   
   <section class="content">
        <div class="one">
            <div class="one-text">
                <div class="color-bg">
                    <h3 class="one-h3">ten, który</h3>
                    <h3 class="one-h3">Mu okazał</h3>
                    <h3 class="one-h3">Miłosierdzie</h3>
                </div>
                <h3 class="one-h3 color-txt">ŁK. 10:37</h3>
            </div>
        </div>
        <div class="two">
            <img class="" src="/img/glowna-strona/2.jpg" alt="Tło z częścią loga fundacji">
            <img class="image-main" src="/img/glowna-strona/1.jpg" alt="Ręka która trzyma drugą ręke">
        </div>
    </section>
    
     </header>
    <main>
    
<article id="one">
    <section class="about" >
        <img class="" src="/img/glowna-strona/3.jpg" alt="Tło z marmuru">
        <div class="about-one">
            <div class="about-one-white">
                <img class="about-one-image" src="/img/glowna-strona/4.jpg" alt="Otwarta dłoń">
            </div>
        </div>
        <div class="about-two">
            <div class="about-two-white">
                <div class="about-two-text">
                    <h2 class="main-h2">O NAS</h2>
                    <div class="about-two-paragraph">
                        <p class="">Naszym celem jako fundacji jest pomaganie najsłabszym, ludziom chorym, potrzebującym wsparcia i opieki.</p>
                        <p class="">Opieką nad osobami starszymi zajmuję się od ...</p>
                     </div>
                    <button class="more"><a href="/o-nas">Więcej</a></button>
                </div>
            </div>
        </div>
    </section>

    <section class="mobile-main">
        <img src="/img/o-nas/1s.jpg" alt="Otwarta dłoń">
            <div class="mobile-text">
                <h2 class="main-h2">O NAS</h2>
                    <div class="mobile-paragraph">
                        <p class="">Naszym celem jako fundacji jest pomaganie najsłabszym, ludziom chorym, potrzebującym wsparcia i opieki.</p>
                        <p class="">Opieką nad osobami starszymi zajmuję się od ...</p>
                     </div>
                    <button class="more"><a href="/o-nas">Więcej</a></button>
            </div>
            <div class="mobile-bg"></div>
    </section>
</article>

<article id="two">
    <section class="services">
        <img class="services-img" src="/img/glowna-strona/5.jpg" alt="Babcia z wnuczkiem">
        <div class="service-center">
            <div class="service-text">
                <h2 class="main-h2">USŁUGI</h2>
                <div class="service-paragraph-box">
                    <p class="service-paragraph">Świadczymy profesjonalne usługi opiekuńcze w zakresie opieki nad osobami starszymi, chorymi, niepełnosprawnymi. </p>
                    <p class="service-paragraph">Usługi są świadczone w domu podopiecznego.</button>
                    <p class="service-paragraph">Opieka obejmuje ...
                </div>
                <button class="more"><a href="/uslugi">Więcej</a></button>
            </div>
        </div>
    </section>

    <section class="mobile-main-service">
        <img src="/img/glowna-strona/5.jpg" alt="Babcia z wnuczkiem">
            <div class="mobile-text">
                <h2 class="main-h2">USŁUGI</h2>
                    <div class="mobile-paragraph">
                        <p >Świadczymy profesjonalne usługi opiekuńcze w zakresie opieki nad osobami starszymi, chorymi, niepełnosprawnymi. </p>
                        <p>Usługi są świadczone w domu podopiecznego.</p>
                        <p>Opieka obejmuje ...</p>
                     </div>
                    <button class="more"><a href="/uslugi">Więcej</a></button>
            </div>
            <div class="mobile-bg"></div>
    </section>
</article>

<article id="three">
    <section class="contact" >       
        <div class="contact-space">
            <img class="contact-img" src="/img/glowna-strona/6.jpg" alt="Koperty na listy">
            <div class="contact-text">
                
                <h2 class="main-h2">Kontakt</h2>
        
                <div class="contact-text-one">  
                    <img class="" src="/img/kontakt/10.png" alt="Pinezka lokalizacji">
                    <div class="contact-paragraph">  
                        <p class="">Ul.Przemysłowa 2</p>
                        <p class="">39-300 Mielec</p>
                    </div> 
                </div> 
                
                <div class="contact-text-one">  
                    <img class="" src="/img/kontakt/11.png" alt="Telefon">
                    <div class="contact-paragraph"> 
                        <p class="">577 771 586</p>
                        <p class="">788 620 732</p>
                    </div>
                </div> 
                
                <div class="contact-text-one">  
                    <img class="" src="/img/kontakt/12.png" alt="Zegar">
                    <div class="contact-paragraph">
                        <p class="">Czynne pon.-pt.</p>
                        <p class="">W godzinach 18:00-20.00</p>
                    </div>    
                </div>
                
                <div class="contact-text-one text-one-last">  
                    <img class="" src="/img/kontakt/13.png" alt="Koperta">
                    <div class="contact-paragraph">
                        <p class="">fundacja.samarytanin2020@wp.pl</p>
                    </div>
                </div>

                <button class="more"><a href="kontakt">Więcej</a></button>
            </div>

            </div>
        </div>
    </section> 
    
    <section class="mobile-main-contact">
        <img src="/img/glowna-strona/7.jpg" alt="">
            <div class="mobile-text">
                 
                <h2 class="main-h2">Kontakt</h2>
        
                <div class="contact-text-one">  
                    <img class="" src="/img/kontakt/10.png" alt="Pinezka lokalizacji">
                    <div class="contact-paragraph">  
                        <p class="">Ul.Przemysłowa 2</p>
                        <p class="">39-300 Mielec</p>
                    </div> 
                </div> 
                
                <div class="contact-text-one">  
                    <img class="" src="/img/kontakt/11.png" alt="Telefon">
                    <div class="contact-paragraph"> 
                        <p class="">577 771 586</p>
                        <p class="">788 620 732</p>
                    </div>
                </div> 
                
                <div class="contact-text-one">  
                    <img class="" src="/img/kontakt/12.png" alt="Zegar">
                    <div class="contact-paragraph">
                        <p class="">Czynne pon.-pt.</p>
                        <p class="">W godzinach 18:00-20.00</p>
                    </div>    
                </div>
                
                <div class="contact-text-one text-one-last">  
                    <img class="" src="/img/kontakt/13.png" alt="Koperta">
                    <div class="contact-paragraph">
                        <p class="small-contact">fundacja.samarytanin2020 @wp.pl</p>
                        <p class="medium-contact">fundacja.samarytanin2020@wp.pl</p>
                    </div>
                </div>

                <button class="more"><a href="kontakt">Więcej</a></button>
            

            </div>
            <div class="mobile-bg"></div>
    </section>
</article> 

</main>

{% endblock %}
