

  .main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition: background-color .8s .1s ease-in-out;
  }
  .main-nav-bg{
    background-color: $body-color;
  }

  .logo{
    margin: 15px 0 0;
    img{
      width: 90px;
      padding-left: 90px;
    }
  }

  .navigation{
    width: 50%;
  }

  .navigation-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
  }
  .navigation-item{
    width: 20%;
    list-style: none;
    margin: 0;
    
    a{
      text-align: center;
      text-decoration: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: black;
      padding: 20px 15px;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }
  }

  .hamburger{
    display: none;
  }

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  @media (max-width: 1500px){
    
    .logo{
      img{
        width: 80px;
        padding-left: 70px;
      }
    }

    .navigation-item {
      padding: 10px;
      width: 24%;
      box-sizing: border-box;
    }
  }

  @media (max-width: 1025px){
    
    .logo{
      margin: 15px 0 0;
      img{
        width: 90px;
        padding-left: 70px;
      }
    }

    .navigation-item {
      padding: 10px;
      width: 25%;
      box-sizing: border-box;
      a {
        padding: 10px;
        margin: 5px;
        font-size: 1.3rem;
      }
    }
  }

  @media (max-width: 800px){

    .main-nav{
      // background-color: $body-color;
      align-items: center;
    }

    .logo{
      margin: 10px 0 0;
      img{
        width: 80px;
        padding-left: 70px;
      }
    }
  

    .hamburger {
      padding: 20px;
      display: inline-block;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      margin: 0;
    }
    
    .hamburger {
      transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    }
    
   .navigation {
      transition: transform 0.6s .1s linear, visibility .1s  1.2s;
    }
     
    .hamburger-box {
      width: 40px;
      height: 25px;
      display: inline-block;
      position: relative;
    }
    
    @mixin hamburger-line {
      width: 100%;
      height: 3px;
      background-color: black;
      position: absolute;
    }
    
    .hamburger-inner {
      @include hamburger-line;
      
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .1s .2s ease-in-out;
    }
    
    .hamburger-inner::before,
    .hamburger-inner::after {
      @include hamburger-line;
      
      content: '';
      left: 0;
      transition: transform .2s .2s ease-in-out;
    } 
    
    .hamburger-inner::before {
      top: -10px;
    }
    
    .hamburger-inner::after {
      top: 10px;
    }
    
    .hamburger--active .hamburger-inner {
      background-color: transparent;
    }
    
    .hamburger--active .hamburger-inner:before {
      transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger--active .hamburger-inner:after {
      transform: translateY(-10px) rotate(-45deg);
    }
    
    .navigation {
      height: auto;
      width: 100%;
      background-color: $body-color;
      position: absolute;
      top: 90px;
      left: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }
    
    .navigation--active {
      transform: translateX(0%);
      transition: transform 0.6s .1s ease-in-out, visibility 0s 0s;
      visibility: visible;
    }
    
    .navigation-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .navigation-item {
      text-align: center;
      padding: 10px;
      width: 100%;
      a {
        text-decoration: none;
        color: black;
        padding: 15px;
        margin: 5px;
        font-size: 1.4rem;
      }
    }
    
  }

  @media (max-width: 650px){
    .logo{
      margin: 10px 0 0;
      img{
        width: 80px;
        padding-left: 20px;
      }
    }
    .hamburger {
      padding: 20px;
    }
    .navigation {
      top: 90px;
    }

    .navigation-item {
      a {
        padding: 15px;
        margin: 5px;
        font-size: 1.3rem;
      }
    }
  }






















// .menu{
//     width: 100%;
//     @include flex;
//     justify-content: space-between;
//     align-items: center;
//     position: fixed;
//     z-index: 100;
// }

// .logo{
// width: 20%;
// @include flex;
// @include center;
// img{
//     width: 160px;
//     padding: 30px 10px;
// }
// }

// .nav{
//     width: 50%;
//     &__ul{
//         width: 80%;
//         @include flex;
//         align-items: center;
//         list-style: none;
//         // border: 1px solid black;
//     }
//     &__li{
//         width: 25%;
//         a{
//             display: block;
//             height: 100%;
//             width: 100%;
//             font-size: 1.3rem;
//             color: black;
//             text-decoration: none;
//             text-transform: uppercase;
//             padding: 30px 20px;
//         }   
//     }
// }

// .hamburger{
//     display: none;
// }


// @media (max-width: 800px){

//     // .menu{
//     //     width: 50%;
//     // }

//     .logo{
//         width: 20%;
//         @include flex;
//         @include center;
//         img{
//             width: 20px;
//             // padding: 30px 10px;
//         }
//         }

//     .hamburger {
//         padding: 10px;
//         display: block;
//         cursor: pointer;
//         background-color: transparent;
//         border: 0;
//         margin: 0;
//         width: 15%;
//       }
            
//       .hamburger__box {
//         width: 35px;
//         height: 24px;
//         display: inline-block;
//         position: relative;
//       }
      
//       @mixin hamburger-line {
//         width: 100%;
//         height: 3px;
//         background-color: black;
//         position: absolute;
//       }
      
//       .hamburger__inner {
//         @include hamburger-line;
        
//         left: 0;
//         top: 50%;
//         transform: translateY(-50%);
//         transition: background-color .1s .2s ease-in-out;
//       }
      
//       .hamburger, .navigation {
//         transition: transform .5s .3s ease-in-out;
//       }

//       .hamburger__inner::before,
//       .hamburger__inner::after {
//         @include hamburger-line;
        
//         content: '';
//         left: 0;
//         transition: transform .2s .2s ease-in-out;
//       } 
      
//       .hamburger__inner::before {
//         top: -10px;
//       }
      
//       .hamburger__inner::after {
//         top: 10px;
//       }
      
//       .hamburger--active .hamburger__inner {
//         background-color: transparent;
//       }
      
//       .hamburger--active .hamburger__inner:before {
//         transform: translateY(10px) rotate(45deg);
//       }
      
//       .hamburger--active .hamburger__inner:after {
//         transform: translateY(-10px) rotate(-45deg);
//       }
      


//     .nav{
//         display: none;
//     }


//     // .nav {
//     //     // height: 250px;
//     //      width: 100%;
//     //     // position: absolute;
//     //     // top: 0;
//     //     // transform: translateY(-250px);
//     //   }
//     .nav--active{
//         display: block;
//     }

//       .nav{
//         position: absolute;
//         top: 70%;
//         left: 0;
//         width: 100%;
//         background-color: $body-color;
//         &__ul{
//             width: 100%;
//             align-items: center;
//             list-style: none;
//             padding-left: 0;
//         }
//         &__li{
//             width: 100%;
//             a{
//                 display: block;
//                 height: 100%;
//                 width: 100%;
//                 font-size: 1.3rem;
//                 color: black;
//                 text-decoration: none;
//                 text-transform: uppercase;
//                 padding: 30px 20px;
//                 text-align: center;
//             }   
//         }
//     }
// }
