{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header id="four">

{% include "components/menu.html.twig" %}

<section class="content-header">
    
    <div class="content-header-one">
        <div class="content-header-absolute">
            <img class="content-header-image" src="/img/statut/1.jpg" alt="">
            <h2 class="content-header-h2">statut</h2>
        </div>
    </div>

    <div class="content-header-two">
        <img src="/img/glowna-strona/2.jpg" alt="">
        <div class="content-header-space"></div>
    </div>
    <div class="content-header-padding"></div>
</section>

<section class="content-mobile-subpage">
        <div class="one">
            <div class="one-text">
                <h2 class="one-h2">{{controller_name}}</h2>
            </div>
        </div>
        <div class="two">
            <img class="" src="/img/glowna-strona/2.jpg" alt="">
            <img class="image-main" src="/img/statut/2.jpg" alt="">
        </div>
    </section>
</header>

</header>
<main>

<section class="statut-page">
<div class="statut-page-head"></div>





</section>

</main>
{% endblock %}
