{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header id="four">

    
 {% include "components/menu.html.twig" %}


<section class="content-header">
    
    <div class="content-header-one">
        <div class="content-header-absolute">
            <img class="content-header-image" src="/img/o-nas/1.jpg" alt="">
            <h2 class="content-header-h2">O nas</h2>
        </div>
    </div>

    <div class="content-header-two">
        <img src="/img/glowna-strona/2.jpg" alt="">
        <div class="content-header-space"></div>
    </div>
    <div class="content-header-padding"></div>
</section>

<section class="content-mobile-subpage">
        <div class="one">
            <div class="one-text">
                <h2 class="one-h2">{{controller_name}}</h2>
            </div>
        </div>
        <div class="two">
            <img class="" src="/img/glowna-strona/2.jpg" alt="">
            <img class="image-main" src="/img/o-nas/7.jpg" alt="">
        </div>
    </section>
</header>

<main>
<section class="about-page">
    <img class="about-page-image" src="/img/o-nas/2.jpg" alt="">
    
    <div class="about-page-person">
        <div class="person-box">
            <figure>
                <img class="person-image" src="/img/o-nas/3.jpg" alt="">
                <figcaption class="person-image-name">Agnieszka</figcaption>
                <figcaption class="person-image-function">Prezes</figcaption>
            </figure>
        </div>
        <div class="person-box">
            <figure>
                <img class="person-image" src="/img/o-nas/3.jpg" alt="">
                <figcaption class="person-image-name">Basia</figcaption>
                <figcaption class="person-image-function">wiceprezes</figcaption>
            </figure>
        </div>
        
    </div>
    <div class="about-page-text">
        <p>Naszym celem jako fundacji jest pomaganie najsłabszym,ludziom chorym, potrzebującym wsparcia i opieki.</p>
        <p>Opieką nad osobami starszymi zajmuję się od 10 lat.</p>
        <p>Najpierw jako pracownik socjalny, później w bezpośredniej opiece w domu chorego.</p>
        <p>Naszym celem jest niesienie pomocy najbardziej potrzebującym. Czy są to osoby w podeszłym wieku, schorowane, niepełnosprawne,czy też samotne matki z dziećmi, osoby doświadczajace przemocy w rodzinie.</p>
        <p>Obejmujemy wsparciem osoby doświadczające przemocy seksualnej, kobiety trudniące się prostytucją.</p>
        <p>Prowadzimy grupy wsparcia dla osób wykluczonych, uzależnienionych.</p>
        <p>Podejmujemy również szereg działań dla osób bezdomnych.</p>
        <p>Chcemy udzielać wsparcia w każdej postaci, również wsparcia materialnego i duchowego.</p>
        <p>Naszą pomoc kierujemy do rodzin w kryzysie, chcemy wspierać rodziny z dziećmi niepełnosprawnymi.</p>
        <p class="about-page-text-space"></p>
        <p>Jednym z naszych.działań jest prowadzenie usług opiekuńczych dla osób starszych w miejscu zamieszkania.</p>
        <p>Chcemy służyć pomocą ludziom najbardziej potrzebującym.</p>
        <p>W myśl ewangelicznej zasady :</p>
        <p>Błogosławieni Miłosierni,albowiem oni miłosierdzia dostąpią.</p>
    </div>
    

</section>
</main>

{% endblock %}
